* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root{    
    --nav-color: #191E2B;    
    --button-color: #252935;    
    --aside-color: #393E49;       
    --range-color: #9E9E9E;
    --color-principal: #fff;    
    --color-secundary: #000;   
    --image-text-color: #fff; 
    --image-meme-color: #000;
}

body.light-theme{
    --nav-color: #e9e9e9;    
    --button-color: #dddddd;    
    --aside-color: #cccccc;  
    --range-color: #b9b9b9;
    --color-principal: rgb(119, 119, 119);    
    --color-secundary: rgb(255, 255, 255);  
    --image-text-color: #fff; 
    --image-meme-color: #000;
}

.body{
    display: flex;    
}

.header{
    display: flex;
    width: 100%;
}

.header-main-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav{
    background-color: var(--nav-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    width: 100%; 
}

.nav-title-box{
    display: flex;
    align-items: center;   
    justify-content: space-around; 
    width: 38%;
    margin: 1.5%;        
}

.nav-title{
    font-size: 2rem;    
    color: var(--color-principal);    
}

.nav-title-image{
    height: 3.8rem;
    margin-left: 10px;
}

.nav-title-image:hover{
    height: 3.8rem;
    margin-left: 10px;
    transition: .8s ease-in-out;
    transform: rotate(360deg)
}

.nav-section{
    display: flex;
    justify-content: space-around;
    list-style: none;    
    width: 30%;    
}

.nav-item{
    padding: 3.5%;
    border-radius: 5px;    
    margin-bottom: 5%; 
    cursor: pointer;
    text-align: center;   
    color: var(--color-principal); 
}

.nav-item:hover{
    padding: 3.5%;
    border-radius: 5px;
    background-color: var(--color-principal);   
    margin-bottom: 5%; 
    color: var(--color-secundary); 
    transition: all 0.8s ease;
}

.nav-item-light{
    padding: 3.5%;
    border-radius: 5px;    
    margin-bottom: 5%; 
    cursor: pointer;
    text-align: center;   
    color: var(--color-principal); 
    display: none;
}

.nav-item-light:hover{
    padding: 3.5%;
    border-radius: 5px;
    background-color: var(--color-principal);   
    margin-bottom: 5%; 
    color: var(--color-secundary); 
    transition: all 0.8s ease;
    /* display: none; */
}

.nav-item-dark{
    padding: 3.5%;
    border-radius: 5px;    
    margin-bottom: 5%; 
    cursor: pointer;
    text-align: center;   
    color: var(--color-principal);     
}

.nav-item-dark:hover{
    padding: 3.5%;
    border-radius: 5px;
    background-color: var(--color-principal);   
    margin-bottom: 5%; 
    color: var(--color-secundary); 
    transition: all 0.8s ease;    
}

.display-none{
    display: none;
}

.display-block{
    display: block;
}