/* Contenedor principal*/

.image-section{
    background-color: var(--violet-soft);    
    width: 25%;
    /* height: 100vh;  */
    color: var(--white);  
    display: none; 
}

/* Titulo */

.image-section-title{    
    text-align: center;    
    margin: 13% 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.image-section-form{    
    margin: 5%;
}

/* Subtitulos secciones */

.section-url, .section-filters, .section-background{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.url, .background-select{
    padding: 5px;
    border-radius: 5px;
    outline-style: none;
    border: none;
}

.background-color{
    height: 28px;
    border-radius: 5px;
    outline-style: none; 
    border-radius: 50px;    
    width: 20px;
    height: 20px;
}

.box-color-background{
    background-color: var(--white);
    padding: 5px;
    border-radius: 5px;
    color: var(--black);
    font-weight: 300;
    display: flex;
    align-items: center;  
    width: 40%;  
}

.font-color-background{
    padding: 0 5px;
}

.background-boxes{
    display: flex;
    justify-content: space-between;    
}

.url-label, .background-color-label, .filters-label{
    padding: 7px 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.filter-option-label{
    font-size: 0.9rem;
    padding: 8px 0;
    margin-top: 5px;
}

.filter-range{
    background-color: var(--white);
    border-radius: 10px;
    appearance: none;
    height: 8px;
    outline: none;
    transition: 0.3s;
}

.filter-range:active{
    background-color: var(--violet-ultra-light);
    border-radius: 10px;
    appearance: none;
    height: 8px;
    outline: none;
    transition: 0.3s;
}

.filter-range::-webkit-slider-thumb{  
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--violet-light);
  cursor: pointer;
}


.reset-button{
    margin-top: 10px;
    padding: 3.5%;
    border-radius: 5px;    
    margin-bottom: 5%; 
    cursor: pointer;
    text-align: center;   
    color: var(--violet); 
    background-color: var(--white);  
    transition: all 0.8s ease;
    outline: none;
    border: none;
    
}

.reset-button:hover{
    margin-top: 10px;
    padding: 3.5%;
    border-radius: 5px;    
    margin-bottom: 5%; 
    cursor: pointer;
    text-align: center;   
    background-color: var(--violet); 
    color: var(--white);  
    transition: all 0.8s ease;
    outline: none;
    border: none;
}