/* Contenedor principal*/

.image-section{
    background-color: var(--aside-color);    
    width: 25%;    
    color: var(--letter-color-principal);  
    /* display: none; */       
}

/* Titulo */

.image-section-title{    
    text-align: center;    
    margin: 13% 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.image-section-form{    
    margin: 5%;    
}

/* Subtitulos secciones */

.section-url, .section-filters, .section-background{
    display: flex;
    flex-direction: column;
    margin: 15px 0;       
}

.section-background{
    display: flex;
    flex-direction: column;    
    width: 100%
}

.url, .background-select{
    padding: 5px;
    border-radius: 5px;
    outline-style: none;
    border: none;    
}

.background-select{
    width: 45%;
}

.box-color-background{
    background-color: var(--letter-color-principal);
    padding: 5px;
    border-radius: 5px;    
    font-weight: 300;
    display: flex;
    align-items: center;  
    /* width: 100%;    */
  
}

.font-color-background{
    padding: 0 5px;
}

.font-color-background-img{
    color: black;    
    margin-left: 30px;   
}

.background-boxes{
    display: flex;
    justify-content: space-between;      
    /* width: 16rem;  */
}

.url-label, .filters-label{
    padding: 7px 0;
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;  
}

.background-color-label{
    padding: 7px 0;
    font-size: 1.1rem;
    font-weight: 500;    
    width: 16rem;  
}

.background-color-img{    
    outline-style: none; 
    border-radius: 50px;    
    width: 20px;
    height: 20px;        
    position: absolute; 
}

/* FILTROS */

.filter-option-label{
    font-size: 0.9rem;
    padding: 8px 0;
    margin-top: 5px;
}

.filter-range{
    background-color: var(--letter-color-principal);
    border-radius: 10px;
    appearance: none;
    height: 8px;
    outline: none;
    transition: 0.3s;
}

.filter-range:active{
    background-color: var(--range-color);
    border-radius: 10px;
    appearance: none;
    height: 8px;
    outline: none;
    transition: 0.3s;
}

.filter-range::-webkit-slider-thumb{  
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--button-color);
  cursor: pointer;
}


.reset-button{
    margin-top: 10px;
    padding: 3.5%;
    border-radius: 5px;    
    margin-bottom: 5%; 
    cursor: pointer;
    text-align: center;   
    color: var(--button-color); 
    background-color: var(--letter-color-principal);  
    transition: all 0.8s ease;
    outline: none;
    border: none;
    
}

.reset-button:hover{
    margin-top: 10px;
    padding: 3.5%;
    border-radius: 5px;    
    margin-bottom: 5%; 
    cursor: pointer;
    text-align: center;   
    background-color: var(--button-color); 
    color: var(--letter-color-principal);  
    transition: all 0.8s ease;
    outline: none;
    border: none;
}


/* FONDO */

.color-box{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 5px;  
    width: 48%;   
}

.filter-box{    
    display: flex;
    align-items: center;
    width: 48%;
}

.color-filter-boxes{    
    display: flex;
    justify-content: space-between;
}

.input-color-backgroundd{
    outline-style: none;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    position: absolute;
}

.input-value{
    color: black;
    padding: 0 5px;
}

.select-filter{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}


@media (max-width: 1300px){
    .image-section{
        display: none;        
        width: 450px;        
    }
}

@media (max-width: 700px){
    .image-section{
        width: 100%;        
        position: absolute;
    }
   
    /* Boton */
    .section-filters-button{        
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: -5%;
    }

    .reset-button{
        padding: 2%;
        display: flex;
        justify-content: center;
    }

    .reset-button:hover{
        padding: 2%;
    }
}