/* Contenedor principal*/

.image-section{
    background-color: var(--aside-color);    
    /* width: 25%;    */ 
    width: 18rem;
    color: var(--color-principal);      
    position: fixed;
    right: 0px;  
    /* height: auto;   */
    height: 100vh;
}

.close-button{
    display: none;
}

/* Titulo */

.image-section-title{    
    text-align: center;    
    margin: 13% 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.image-section-form{    
    margin: 5%;    
}

/* Subtitulos secciones */

.section-url, .section-filters, .section-background{
    display: flex;
    flex-direction: column;
    margin: 15px 0;       
}

.section-background{
    display: flex;
    flex-direction: column;    
    width: 100%
}

.url, .background-select{
    padding: 5px;
    border-radius: 5px;
    outline-style: none;
    border: none;    
}

.url-label, .filters-label{
    padding: 7px 0;
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;  
}

.background-color-label{
    padding: 7px 0;
    font-size: 1.1rem;
    font-weight: 500;    
    width: 16rem;  
}

/* FILTROS */

.filter-option-label{
    font-size: 0.9rem;
    padding: 8px 0;
    margin-top: 5px;
}

.filter-range{
    background-color: var(--color-principal);
    border-radius: 10px;
    appearance: none;
    height: 8px;
    outline: none;
    transition: 0.3s;
}

.filter-range:active{
    background-color: var(--range-color);
    border-radius: 10px;
    appearance: none;
    height: 8px;
    outline: none;
    transition: 0.3s;
}

.filter-range::-webkit-slider-thumb{  
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--button-color);
  cursor: pointer;
}


.reset-button{
    margin-top: 10px;
    padding: 3.5%;
    border-radius: 5px;    
    margin-bottom: 5%; 
    cursor: pointer;
    text-align: center;   
    color: var(--button-color); 
    background-color: var(--color-principal);  
    transition: all 0.8s ease;
    outline: none;
    border: none;    
}

.reset-button:hover{
    margin-top: 10px;
    padding: 3.5%;
    border-radius: 5px;    
    margin-bottom: 5%; 
    cursor: pointer;
    text-align: center;   
    background-color: var(--button-color); 
    color: var(--color-principal);  
    transition: all 0.8s ease;
    outline: none;
    border: none;
}


/* FONDO */

.color-box{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 5px;  
    width: 48%;   
}

.filter-box{    
    display: flex;
    align-items: center;
    width: 48%;
}

.color-filter-boxes{    
    display: flex;
    justify-content: space-between;
}

.input-color-background{    
    outline-style: none; 
    position: absolute;      
    width: 1.2rem;
    height: 1.25rem;
    border-radius: 999px;
    overflow: hidden;
    outline: none;
    border: 0;
}

.input-color-background[type="color" i]::-webkit-color-swatch-wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0;
    outline: none;
    border: 1px solid var(--button-color);
    border-radius: 999px;
}

.input-color-background[type="color" i]::-webkit-color-swatch{
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 999px;    
}

.input-value{    
    padding: 0 25px;
    color: black;    
    font-weight: 300;
}

.select-filter{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: none;
}


@media (max-width: 1300px){
    .image-section{
        display: none;        
        overflow: scroll;    
    }

    .close-button{
        display: block;        
        position: fixed;
        top: 15px;
        right: 15px;
        border-radius: 3px;
        cursor: pointer;
        outline: none;
        border: none;
        color: white;
        background-color: transparent;
        font-size: 1rem;
    }
}

@media (max-width: 700px){
    .image-section{
        width: 100%;        
        position: absolute;
        /* height: 58rem; */    
        height: auto;    
    }
   
    /* Boton */
    .section-filters-button{        
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: -5%;
    }

    .reset-button{
        padding: 2%;
        display: flex;
        justify-content: center;
        margin: 29px 0;
    }

    .reset-button:hover{
        padding: 2%;
        margin: 29px 0;
    }
}

@media (max-width: 450px){
    .image-section{        
        /* height: 52rem;  */
    }
}