.main{    
    background-image: url(../assets/img/background.svg);
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;    
    display: flex;
    flex-direction: column;
    align-items: center;     
    transition: 0.1s;
}

.meme-section{    
    max-width: 610px;
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;    
    background-color: var(--letter-color-secundary);
}

.meme-top-text, .meme-bottom-text{
    background-color: var(--image-text-color);
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 5%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    position: static;      
}

.meme-image{
    background-color: var(--image-meme-color); 
    height: 100%;
    width: 100%;
}

.image-download{
    width: 15%;
    margin: 20px 0;
}

.download-meme{
    background-color: var(--button-color);
    color: var(--letter-color-principal);
    font-size: 1rem;
    padding: 8% 3%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}

.download-meme:hover{
    background-color: var(--letter-color-principal);
    color: var(--button-color);
    font-size: 1rem;
    padding: 8% 3%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: none;  
    transition: all 0.8s ease;  
}

.light-background{
    background-image: url(../assets/img/background-light.svg);
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;   
    transition: 0.1s;
}