

/* Contenedor principal*/

.text-section{
    background-color: var(--aside-color);    
    /* width: 25%;   */  
    width: 18rem;
    color: var(--color-principal);          
    right: -25%;
    position: fixed;
    height: 100vh;
}

/* Titulo */

.text-section-title{
    text-align: center;    
    margin: 13% 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.text-section-form{
    margin: 5%;
}

/* Subtitulos secciones */

.section-font, .section-color, .section-outline, .section-spacing, .section-line-spacing{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.section-top-text, .section-bottom-text{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.top-text-input, .bottom-text-input, .select-font, .spacing-input, .select-line-spacing{
    padding: 5px;
    border-radius: 5px;
    outline-style: none;
    border: none;
}

.top-text-label, .bottom-text-label, .font-label, .color-label, .background-label, .section-outline, .spacing-label, .line-spacing-label{
    padding: 7px 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.top-text-check-label, .bottom-text-check-label, .color-check-label{
    font-size: 0.8rem;    
}

.font-options{    
    display: flex;
    justify-content: space-between;    
}

.size-input{
    padding: 5px;
    border-radius: 5px;
    outline-style: none;
    border: none;
}

.button-align{
    padding: 5px;
    border-radius: 5px;
    outline-style: none;
    border: none;
    cursor: pointer;
    width: 25px;    
}

/* Color */


.section-color-background{
    display: flex;    
    margin-top: 15px;
    justify-content: space-between;    
}

.color-label, .background-label{
    padding: 7px 0;
    font-size: 1.1rem;
    font-weight: 500;    
}

.section-color, .section-background{
    display: flex;
    justify-content: space-between;      
    width: 120px;   
}

.box-color, .box-background{
    background-color: var(--image-text-color);
    padding: 5px 0;
    border-radius: 5px;
    color: black;
    font-weight: 300;
    display: flex;
    align-items: center;  
    width: 100%;    
    margin-top: -15px;       
} 

.color-input, .background-input{    
    outline-style: none;        
    margin-left: 5px;    
    position: absolute;      
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 999px;
    overflow: hidden;
    outline: none;
    border: 0;
}

.color-input[type="color" i]::-webkit-color-swatch-wrapper, .background-input[type="color" i]::-webkit-color-swatch-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0;
    outline: none;
    border: 1px solid var(--button-color);
    border-radius: 999px;
}

.color-input[type="color" i]::-webkit-color-swatch, .background-input[type="color" i]::-webkit-color-swatch {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 999px;    
}

.font-color-text, .font-color-background{
    padding: 0 30px;
}

.outline-buttons{    
    display: flex;
    justify-content: space-between;
}

.button-outline{
    padding: 5px;
    border-radius: 5px;
    outline-style: none;
    border: none;
    cursor: pointer;
    width: 30%;   
    margin-top: 7px; 
}

/* Estilos a las fuentes del select */

.arial-black{
    font-family: "arial-black";
}

.american-typewriter{
    font-family: "american-typewriter";
}

.andale-mono{
    font-family: "Andale mono";
}

.impact{
    font-family: "impact";
}

.coda-caption{
    font-family: 'Coda Caption';
}

.verdana{
    font-family: Verdana;
}

.times-new-roman{
    font-family: 'Times New Roman';
}



.option-size{    
    width: 48%;
}

.option-align{
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.size-input{
    padding: 5px;
    border-radius: 5px;
    outline-style: none;
    border: none;
    width: 100%;
}

.button-align{
    padding: 5px;
    border-radius: 5px;
    outline-style: none;
    border: none;
    cursor: pointer;
    width: 100%;    
    margin: 0 2px;
}


.section-color-background{
    display: flex;    
    margin-top: 15px;
    justify-content: space-between;       
}

.section-box-color, .section-box-background{
    width: 48%;   
}

.section-color, .section-background{
    display: flex;
    justify-content: space-between;      
    width: 100%;   
}

.box-color, .box-background{
    background-color: var(--image-text-color);    
    padding: 5px 0;
    border-radius: 5px;
    color: black;
    font-weight: 300;
    display: flex;
    align-items: center;  
    width: 100%;    
    margin-top: -15px;       
} 

.color-input, .background-input{        
    outline-style: none; 
    border-radius: 50px;    
    width: 20px;
    height: 20px;    
    margin-left: 5px;    
    position: absolute;    
}

 @media (max-width: 1300px){
    .text-section{
        display: none;
        /* right: -30%; */
    }

    .close-button{
        display: block;        
        position: fixed;
        top: 15px;
        right: 15px;
        border-radius: 3px;
        cursor: pointer;
        outline: none;
        border: none;
        color: white;
        background-color: transparent;
        font-size: 1rem;
    }
}

@media (max-width: 700px){
    .text-section{
        width: 100%;        
        position: absolute;
        height: 58rem;  
    }

    .font-options{    
        display: flex;
        justify-content: space-between;    
    }
}

@media (max-width: 450px){
    .text-section{        
        height: 52rem; 
    }
}